<template>
    <div>
         <v-alert
      :value="true"
      type="success"
    >
      This is a success alert.
    </v-alert>
        soy layout
    </div>
</template>
<script>
export default {
    
}
</script>
<style>

</style>
